<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.zambo.chatgptextender</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>827BA3DF-6F7B-4170-9277-80245B0CD323</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3CB6413E-4CEE-4AB9-91D8-753BB8B76D2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>708A0788-88F8-4BDB-B061-51F398F9DBC1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>14FD1D27-724F-45DA-A1D2-589E6A63B5DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B65517F-7667-4D25-B002-1A4182A946FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97EED384-EEA3-4072-9B11-D99655DAFAD9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Start new chat</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B3F01095-D9C0-49B0-82C8-28D18B2FDE36</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Browse chat histories</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C31F389C-D20B-453D-980B-6835245C177C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>97EED384-EEA3-4072-9B11-D99655DAFAD9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E07368D4-28A4-4A4A-A337-E98458ADBD59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B3F01095-D9C0-49B0-82C8-28D18B2FDE36</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E07368D4-28A4-4A4A-A337-E98458ADBD59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C31F389C-D20B-453D-980B-6835245C177C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E07368D4-28A4-4A4A-A337-E98458ADBD59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E07368D4-28A4-4A4A-A337-E98458ADBD59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBEB1075-11D2-4528-AE72-314B32654798</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F510BF0B-0DFA-425B-B609-14922A076993</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>827BA3DF-6F7B-4170-9277-80245B0CD323</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Zambo</string>
	<key>description</key>
	<string>Extends ChatGPT workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ChatGPT / Extender</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>new_chat</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>com.alfredapp.vitor.openai</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>3CB6413E-4CEE-4AB9-91D8-753BB8B76D2E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>97EED384-EEA3-4072-9B11-D99655DAFAD9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>continue_chat</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>com.alfredapp.vitor.openai</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>708A0788-88F8-4BDB-B061-51F398F9DBC1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>call_chat</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>F510BF0B-0DFA-425B-B609-14922A076993</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>call_chat</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>BBEB1075-11D2-4528-AE72-314B32654798</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>example</string>
				<key>subtext</key>
				<string>Queries ChatGPT with custom instructions.</string>
				<key>text</key>
				<string>Custom ChatGPT workflow example</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8B65517F-7667-4D25-B002-1A4182A946FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:initial_query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>system_prompt</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>827BA3DF-6F7B-4170-9277-80245B0CD323</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>I want to query Vim commands using natural language. Please provide me with the following:

1. A short explanation of the command I’m asking about.
2. The specific Vim command(s) to accomplish the task.
3. Instructions on how to use it in practice.
4. If applicable, other related or similar commands worth exploring.

Output the response in markdown format for readability.

For example:
- If I ask "How do I delete a line in Vim?", provide a concise explanation, the command (`dd`), steps on how to use it, and suggest related commands like `d$` or `D`.</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>initial_query</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E07368D4-28A4-4A4A-A337-E98458ADBD59</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>B3F01095-D9C0-49B0-82C8-28D18B2FDE36</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>C31F389C-D20B-453D-980B-6835245C177C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>gpt_history</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>com.alfredapp.vitor.openai</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>14FD1D27-724F-45DA-A1D2-589E6A63B5DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># ChatGPT Alfred Workflow Extender

An extension for the [alfredapp/openai-workflow](https://github.com/alfredapp/openai-workflow) that enhances its functionality by simplifying prompt customization for various use cases. This extender is ideal for users who already have the original workflow set up and want to fine-tune it for multiple tailored use cases.

## Why?

The original workflow enables customization by allowing you to add a System Prompt, which is responsible for tailoring the initial message to guide ChatGPT’s responses based on your expectations. However, this approach applies the same instructions to all your queries. My objective here is to create multiple starting points with tailored triggers and prompts, providing the flexibility to query specific information I need daily—directly through Alfred—while maintaining a more dynamic and personalized experience.

## ⚠️ Prerequisites

This workflow **requires** the original [OpenAI Workflow](https://github.com/alfredapp/openai-workflow) to be set up and working correctly. For setup instructions, please refer to the original repository.

[⤓ Install the original workflow from the Alfred Gallery](https://alfred.app/workflows/alfredapp/openai)

## ✨ Features

- **Custom Inputs**: Add as many custom inputs as you need for your specific use cases.
- **Clutter-Free Editing**: Easily customize prompts with a minimal connector setup to keep it decluttered and easy.
- **Update-Friendly**: Your customizations should remain intact even if the original OpenAI Workflow gets updated, ensuring seamless integration without losing your tailored prompts.

## 🚀 Setup

1. Clone or download this repository.
2. Import the workflow into Alfred.
3. Ensure the original OpenAI Workflow is installed and functioning correctly.
4. Edit the workflow in Alfred to add your custom inputs. Here's an example format:

![alfred-workflow-example](images/alfred-workflow-example.png)

## 📖 Usage Example: Querying VIM Commands

I often find myself needing to quickly look up VIM commands. The challenge is that sometimes I either don’t know or can’t recall what I need to search for, or I may need to chain multiple commands together. To address this, I’ve created a custom prompt with a tailored trigger that accepts natural language and integrates seamlessly into the original workflow.

![alfred-workflow-vim-example](images/alfred-workflow-vim-example.png)

### Trigger

In this example, I modified the keyword trigger to use "vim" and added helpful text that will display in Alfred. Additionally, I updated the workflow icon to make it visually distinct and easier to identify at a glance. A screenshot below highlights these changes for reference.

![workflow-example-vim-trigger](images/workflow-example-vim-trigger.png)

### Custom Input

Here’s the custom initial instruction I use for this workflow:

![wokflow-vim-example-input](images/wokflow-vim-example-input.png)

```text
I want to query Vim commands using natural language. Please provide me with the following:

1. A short explanation of the command I’m asking about.
2. The specific Vim command(s) to accomplish the task.
3. Instructions on how to use it in practice.
4. If applicable, other related or similar commands worth exploring.

Output the response in markdown format for readability.

For example:
- If I ask "How do I delete a line in Vim?", provide a concise explanation, the command (`dd`), steps on how to use it, and suggest related commands like `d` or `D`.
```

Now, I can simply use it with my custom keyword and it is going to apply the initial instruction to all prompts in this workflow.

![workflow-vim-example-usage](images/workflow-vim-example-usage.png)

Here's the output:

![workflow-vim-example-output](images/workflow-vim-example-output.png)

---

If you found this workflow extender useful, don’t forget to check out the creators of the original workflow who made this possible. Huge thanks to the Alfred Team ([alfredapp](https://github.com/alfredapp)) and [Vítor Galvão](https://github.com/vitorgalvao) for their incredible work on the original workflow. If you'd like to support my small contribution, feel free to [buy me a coffee](https://buymeacoffee.com/itsmezambo).</string>
	<key>uidata</key>
	<dict>
		<key>14FD1D27-724F-45DA-A1D2-589E6A63B5DB</key>
		<dict>
			<key>xpos</key>
			<real>1285</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>3CB6413E-4CEE-4AB9-91D8-753BB8B76D2E</key>
		<dict>
			<key>xpos</key>
			<real>1285</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>708A0788-88F8-4BDB-B061-51F398F9DBC1</key>
		<dict>
			<key>xpos</key>
			<real>1285</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>827BA3DF-6F7B-4170-9277-80245B0CD323</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Do not edit this field, as its goal is overwrite the primary instructions in the main workflow with each custom ones.</string>
			<key>xpos</key>
			<real>1120</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>8B65517F-7667-4D25-B002-1A4182A946FD</key>
		<dict>
			<key>xpos</key>
			<real>140</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>97EED384-EEA3-4072-9B11-D99655DAFAD9</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
		<key>B3F01095-D9C0-49B0-82C8-28D18B2FDE36</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>BBEB1075-11D2-4528-AE72-314B32654798</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>C31F389C-D20B-453D-980B-6835245C177C</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>E07368D4-28A4-4A4A-A337-E98458ADBD59</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>EDIT HERE</string>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>F510BF0B-0DFA-425B-B609-14922A076993</key>
		<dict>
			<key>note</key>
			<string>This just simplifies not having many connectors on the workflow.</string>
			<key>xpos</key>
			<real>905</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2025.01</string>
	<key>webaddress</key>
	<string>https://github.com/zambo/</string>
</dict>
</plist>
